<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie.edge">
    <script src="https://kit.fontawesome.com/d37c5443c6.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" integrity="sha384-DeC+RFbDDRRG3FksdqD57qfAnuMRtNFOpHEAFA6nDQFA+vH4znJTkHqJFRIS6YXe" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../CSS/tabelaClientes.css">

    <title>Tabela Clientes</title>

</head>

<body>


<div class="button-container">
    <a class="nav-link active" aria-current="page" href="/cadastroCliente">Cadastrar Cliente</a>
</div>

<div th:each="cliente : ${clientes}" class="container centered">
    <header class="perfil">
        <div class="perfil-image">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="120" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </div>
        </div>

        <div class="row">
            <div class="title col-md-12">
                <h1 th:text="${cliente.nome}"></h1>
            </div>
            <div class="col-md-6">
                <p>Email: <span th:text="${cliente.email}"></span></p>
            </div>
            <div class="col-md-6">
                <p>Data de Nascimento: <span th:text="${cliente.data_nasc}"></span></p>
            </div>
        </div>

    </header>

    <main class="projetos client-card">
        <!-- Conteúdo do cliente ou tabela aqui -->
    </main>

    <div class="button-container">
        <div class="button-container">
            <a class="nav-link active" aria-current="page" href="/carteiraVirtual"> Carteira Virtual</a>

        </div>
        <div class="floating-balloon" id="dadosPerfil">

        </div>
        <div class="floating-balloon" id="profileBalloon">
            <p>Informações do perfil</p>
        </div>

        <div>
        <textarea></textarea>
            <button>Atualizar Resumo</button>
        </div>
        <div class="button-container">
            <a class="nav-link active" aria-current="page" th:href="${'/carteiraInvestimento/'+cliente.id_cliente}"> Carteira de Investimentos</a>
        </div>
    </div>
</div>
</body>
</html>