 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

        :root {
            --bg-color: #640000;
            --bg-card: #f4f4f4;
            --font-color: #1c1c1c;
            --font-highlight: #bd93f9;
        }

        /===== Body =====/

        body {
            background-color: #640000; /* Cor de fundo */
            font-family: var(--font);
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .centered {
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .container {
            width: 1100px;
            background: var(--bg-card);
            color: var(--title-color);
            padding: 3rem;
            border-radius: 40px;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 4);
            display: block;
            background: #ffc970;
        }

        /===== Header =====/

        .perfil {
            display: flex;
            align-items: center;
        }


        .title {
            margin-left: 1rem;
        }

        .title h1 {
            font-weight: bolder;
            font-size: 1.8rem;
        }

        .title h3 {
            font-weight: 400;
            font-size: 1rem;
        }

        .title p {
            font-weight: 400;
            font-size: 0.8rem;
            color: #949494;
            margin-bottom: 0.3rem;
        }


 /* Balão flutuante */
.floating-balloon {
    position: absolute;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
    top: 300px; /* Ajusta a posição vertical para alinhar com o botão */
    left: 20%; /* Centraliza o balão horizontalmente */
    transform: translateX(-50%); /* Centraliza o balão horizontalmente */
}


.floating-balloon::before {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: var(--purple) transparent transparent transparent;
    top: -16px; /* Ajusta esta posição vertical para alinhar com o botão */
    left: 50%;
    transform: translateX(-50%);
    animation: blinkPurple 1s infinite; /* Adiciona animação de piscar roxo */
}

@keyframes blinkPurple {
    0%, 50%, 100% {
        border-color: var(--purple) transparent transparent transparent;
    }
    25%, 75% {
        border-color: #000 transparent transparent transparent;
    }
}

.floating-balloon.blink-black::before {
    animation: blinkBlack 1s infinite; /* Adiciona animação de piscar preto */
}

@keyframes blinkBlack {
    0%, 50%, 100% {
        border-color: #000 transparent transparent transparent;
    }
    25%, 75% {
        border-color: var(--purple) transparent transparent transparent;
    }
}
  /* Estilos dos botões */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 300px; /* Defina a largura desejada para os botões */
    display: inline-block;
    padding: 10px; /* Ajuste o preenchimento conforme necessário */
    background-color: #640000;
    color: white;
    border: 2px solid #640000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos da nav-link (mantém o fundo branco) */
a.nav-link.active {
    width: 300px; /* Defina a largura desejada para a nav-link */
    display: inline-block;
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    background-color: white; /* Fundo branco */
    color: #640000; /* Texto em vermelho (#640000) */
    border: 2px solid #640000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

a.nav-link.active:hover {
     background: linear-gradient(45deg,  #ffc970, #640000);
    color: #640000; /* Texto em vermelho (#640000) */
}